* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
}
header {
    padding: 0px 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    background: url(images/New\ Project.jpg);
    background-size: 100%;
}
.header-text {
    width: 50%;
    
}
.header-text h1 {
    font-size: 4rem;
    width: 630px;
    margin-bottom: 50px;
}
.header-text span {
    color: orange;
}
.header-text h3 {
    margin-bottom: 20px;
}
.header-text p {
    margin-bottom: 20px;
    color: rgb(121, 121, 121);
}
.header-text a {
    text-decoration: none;
    padding: 10px 30px;
    background: linear-gradient(to right, #9C33BC, #6143B0);
    border-radius: 5px;
    display: inline-block;
    color: #fff;
    font-weight: 700;
}
.header-img {
    width: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
}
.header-img img {
    width: 90%;
}