* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
}
header {
    padding: 0px 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    background: url(images/New\ Project.jpg);
    background-size: 100%;
    margin-bottom: 30px;
}
.header-text {
    width: 50%;
    
}
.header-text h1 {
    font-size: 4rem;
    width: 630px;
    margin-bottom: 50px;
}
.header-text span {
    color: orange;
}
.header-text h3 {
    margin-bottom: 20px;
}
.header-text p {
    margin-bottom: 20px;
    color: rgb(121, 121, 121);
}
.header-text a {
    text-decoration: none;
    padding: 10px 30px;
    background: linear-gradient(to right, #9C33BC, #6143B0);
    border-radius: 5px;
    display: inline-block;
    color: #fff;
    font-weight: 700;
}
.header-text a:hover {
    background: url(images/hover.jpg);
    background-size: 100%;
}
.header-img {
    width: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
}
.header-img img {
    width: 90%;
}
.sec-two {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(images/sec-2-bg.jpg);
    background-size: 100%;
    padding: 0px 65px;
    padding-top: 50px;
}
.sec-2-img {
    width: 50%;
}
.sec-2-img img {
    width: 90%;
}
.sec-2-text {
    width: 50%;
}
.sec-2-text h1 {
    margin-bottom: 60px;
    font-size: 2rem;
}
.sec-2-text h3 {
    margin-bottom: 30px;
}
.sec-2-text p {
    margin-bottom: 20px;
    color: rgb(121, 121, 121);
}
.sec-2-text a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 10px 30px;
    background: linear-gradient(to right, #9C33BC, #6143B0);
    border-radius: 5px;
    font-weight: 700;
}
.sec-2-text a:hover {
    background: url(images/hover.jpg);
    background-size: 100%;
}
.sec-three {
    padding: 0px 65px;
    padding-top: 50px;
    background: url(images/exp-bg.jpg);
    background-repeat: no-repeat;
}
.sec-three h1 {
    margin-bottom: 50px;
    font-size: 2.3rem;
}
.flexible-container {
    display: flex;
    justify-content: space-between;
}
.bal {
    box-shadow: 0px 0px 50px #8a8a8a;
    border-left: 8px solid #eba329;
    width: 550px;
    margin-bottom: 60px;
}
.bal:last-of-type {
    border-left: 8px solid #d820a1;
}
.bal h1 {
    padding: 40px 10px;
    margin-bottom: 0px;
    font-size: 2.5rem;
}
.bal h3 {
    padding: 0px 10px;
    margin-bottom: 30px;
    color: orange;
}
.bal p {
    padding: 0px 10px;
    color: rgb(0, 0, 0);
    margin-bottom: 60px;
}
footer {
    margin-bottom: 20px;
}
footer p {
    text-align: center;
}